/* Loader.css - Spinner styles for Navbar */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border with 10% opacity */
  border-left-color: transparent; /* Transparent left border for spinning effect */
  border-radius: 50%; /* Circular shape */
  width: 36px; /* Size of spinner */
  height: 36px;
  animation: spin89345 1s linear infinite; /* Continuous rotation */
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
